<div class="form center">
  <h1>👋<br>Hello!</h1>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "form" }) do |f| %>

    <%= resource.errors[:email].join(",") %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "input-field", placeholder: "e-mail" %>

    <%= resource.errors[:name].join(",") %>
    <%= f.text_field :name, autofocus: true, autocomplete: "name", class: "input-field", placeholder: "name" %>

    <%= resource.errors[:surname].join(",") %>
    <%= f.text_field :surname, autofocus: true, autocomplete: "surname", class: "input-field", placeholder: "surname" %>

    <% if @minimum_password_length %><br>
    <em>password at least <%= @minimum_password_length %></em>
    <% end %>
    <%= resource.errors[:password].join(',') %>
    <%= f.password_field :password, autocomplete: "new-password", class: "input-field", placeholder: "password" %>

    <%= resource.errors[:password_confirmation].join(',') %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input-field", placeholder: "password confirmation" %>
    <br>
    <div class="actions">
      <%= f.submit "Sign up", class: "button" %>
    </div>

  <% end %>
  <%= render "devise/shared/links" %>
</div>
