<%= form_with(model: @house, url: houses_path, local: true) do |form| %>
  <div class="field" style="display: none;">
    <%= form.label :address %>
    <%= form.text_field :address, id: "house_address", class: "form-control" %>
  </div>
  <div class="field" style="display: none;">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: "house_latitude", class: "form-control" %>
  </div>
  <div class="field" style="display: none;">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: "house_longitude", class: "form-control" %>
  </div>
  <div class="actions">
    <%= form.submit "Create House", class: "button" %>
  </div>
<% end %>
