<!DOCTYPE html>
<html>
  <head>
    <title>Neighborhood</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=en_RU&amp;apikey=<%= ENV["YANDEX_GEOCODER_KEY"] %>" type="text/javascript"></script>
  </head>
  <body>
    <%= content_tag(:p, "ðŸš€  " + notice, class: "notice") if notice.present? %>
    <%= content_tag(:p, "âš ï¸  " + alert, class: "notice") if alert.present? %>
    <%= javascript_include_tag "map" %>
    <%= turbo_frame_tag "modal" %>
    <%= yield %>
  </body>
</html>
